{{> head }}

{{> navbar }}

<div class="container-fluid">
    
<div class="row">
    <div class="col-8">
        <h1>Rodrigo Alvarellos</h1>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quis laboriosam nobis quidem voluptates porro reprehenderit culpa cumque repellendus ipsa temporibus ab, aspernatur dolores quod est, maiores ea, doloremque ullam.</p>
        
    </div>

    <div class="col-4">
        <img src="assets/img/rodrigo_alvarellos.png" alt="" class="img-thumbnail">
        
    </div>
   
</div>

</div>
{{> footer }}